caption:hover {
  color: rgb(253, 16, 16);
}
caption::selection {
  background-color: darkviolet;
}
table,caption {
  border: 1px solid blue;
  vertical-align: middle;
  text-align: center;
  font-size: 14px;
}
thead th,tfoot th {
  background-color: #279c90;
  color: aliceblue;
  text-transform: uppercase;
}
tr:nth-child(odd) {
  background-color: darkblue;
  color: aliceblue;
}
tr:nth-child(even) {
  background-color: white;
  color: darkblue;
}
td:last-of-type {
  font-weight: bolder;
}