@import 
url('https://fonts.googleapis.com/css2?family=Science+Gothic:wght@100..900&display=swap');
section,footer,header,nav{
    padding: 20px;
    width: 900;
    margin: auto;
    margin-top: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 1px 2px white;
    border-radius: 6px;
}
body{
    background-color: #d4e9d5;
    margin: 10px;
    font-family: Arial;
}
button:hover{
    background-color: #4ac352;
}
a{
    color: #2e7d32;
    padding: 10px;
    font-weight: 800;
    text-decoration: none;
}
label,button{
    display: block;
    margin-top: 7px;
}
form button{
    box-sizing:inherit;
    background-color: #2e7d32;
    border-radius: 6px;
    color: white;
    margin-top: 14px;
    padding: 14px;
    width: 98%;
    font-weight: bold;
    border: 1px solid #4ac352;
}
h1{
    color: #2e7d32;
    font-family: "Science Gothic";
}
h2{
    color: #2e7d32;
}
input{
    margin-top: 10px;
    padding: 14px;
    width: 96%;
    border-radius: 6px;
    color: 1px solid;
    border: 1px solid #4ac352;
}
iframe{
   width: 450px; 
   height: 250px;
}
table{
    vertical-align: middle;
    text-align: center;
    border-collapse: collapse;
    border-radius: 6px;
    width: 100%;
}
th{
    padding: 15px;
    background-color:#2e7d32;
    color: white;
}
select{
    box-sizing: inherit;
    margin-top: 10px;
    padding: 14px;
    width: 96%;
    border-radius: 6px;
    color: 1px solid;
    border: 1px solid #4ac352;
}
td{
    padding: 15px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
}