html {
    background-color: rgb(211, 148, 195)
}

@font-face {
    font-family: "Rubik";
    src: url(Rubik-Italic-VariableFont_wght.ttf);
}
h1,h2{
    font-family: "Rubik", sans-serif;
    font-weight: bold;
}

h1,
h2,
h3,
h4 {
    font-family: "Rubik";
}

#colorVerd {
    color: rgb(51, 121, 97);
}

.nombre {
    text-transform: uppercase;
}